# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Example .gitignore file
*.zip
*.tar.gz
.terraform/providers/registry.terraform.io/hashicorp/aws/5.82.2/linux_amd64/terraform-provider-aws_v5.82.2_x5


# Ignore .terraform directories
.terraform/*

# Ignore any other potential large files or directories
*.log
*.bak
*.swp
.DS_Store

# For Git LFS
terraform-provider-aws_v5.82.2_x5

# Node modules (if you have Node.js dependencies)
node_modules/

